.selfieimg {
    width: 120px;
    border-radius: 50%;
    height: 120px;
}

.card-outter-green{
    background: #00A980;
    border-radius: 12px;
}
.card-outter-yellow{
    background: #FBB82D;
    border-radius: 12px;
}


.word-wrap{
    white-space:nowrap !important
}