<div class="login-page">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <div class="form">

    <img src="../../../../assets/theme/logo/Scaleup logo blue (2).png" alt="" class="img-fluid m-3"
      style="width: 60%;" />
    <form class="login-form mt-2" name="mobileInputForm" #mobileForm="ngForm" (ngSubmit)="onSubmit(mobileForm)">
      <p style="font-weight: 400; margin-bottom: 5px; float: left;">Email / Mobile</p>
      <input name="mobInpits" class="form-control mb-3 in-2" type="email" maxlength="50" required placeholder="Username"
        [(ngModel)]="username" #mob="ngModel" />
      <div *ngIf="isFormSubmitted && mob.invalid">
        <code>Enter valid username </code>
      </div>

      <p style="font-weight: 400; margin-bottom: 5px; float: left;">Password</p>
      <div class="input-group">
        <input name="mobInpit" class="form-control in-2" type="password" maxlength="50" required placeholder="Password"
          [(ngModel)]="password" #mob="ngModel" />
        <!-- <div class="input-group-append m-1 pointer"> -->
        <!-- <span class="input-group-text"> -->
        <i class="far fa-eye" id="togglePassword" style="cursor: pointer; position: absolute; right: 15px; top: 15px;"
          (click)="togglePasswordVisibility()"></i>
        <!-- </span> -->
        <!-- </div> -->
      </div>

      <div *ngIf="isFormSubmitted && mob.invalid">
        <code>Enter valid Password</code>
      </div>
      <br />

      <p class="message" style="cursor: pointer; margin-top: -20px; margin-left: 8px;">
        <u style="text-decoration: none !important; color: #0052cc !important;" (click)="ondailogclick()">Forgot
          Password?</u>
      </p>

      <br />

      <button class="btn btn-primary" style="width: 130px;">Sign In</button>

    </form>
  </div>


</div>
<div class="row mt-4 text-center" style="width: 100% !important;">
  <label class="label-dark">
    <b style="color: rgb(0, 149, 218); font-size: 32px;">
      Empowering retailers with the power of digital financing.
    </b>
  </label>
</div>


<p-dialog header="Reset-Password" [style]="{width: '40vw',height:'65vh'}" [draggable]="false" [(visible)]="display">

  <div class="row">
    <p style="font-weight: 400; margin-bottom: 5px;">Enter UserName/Email</p>
    <div class="input-group mb-3">
      <input name="email" class="form-control in-2" type="email" maxlength="50" required placeholder="Email"
        [(ngModel)]="email" />

    </div>

  </div>


  <div class="row">
    <div class="col-4">
      <!-- <button class="btn-btn blue" type="button"> Reset Password</button> -->
      <button type="button" class="btn btn-blue" (click)="resetPassword()">Reset</button>

    </div>

  </div>
  <!-- <div class="progress-spinner" *ngIf="!Loader && display">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <br /> -->
</p-dialog>
<!-- <div class="progress-spinner" *ngIf="!Loader">
  <p-progressSpinner></p-progressSpinner>
</div> -->
<!-- {{Loader}} -->

<div class="overlay" *ngIf="Loader">
  <div class="loader">
    <!-- dhsdhsah -->
    <img src="assets/img/logos/loader_new.gif" alt="ghhdfgdsj..." />
  </div>
</div>
<div class="overlay" *ngIf="Loader && display">
  <div class="loader">
    <img src="assets/img/logos/loader_new.gif" alt="Loading..." />
  </div>
</div>
<p-toast></p-toast>