.status-pendingcl{
    background: #F9BC02 !important;
    font-weight: bold;
    opacity: 0.6;

  }
  .status-overduecl{
    // color: red !important;
    font-weight: bold;
    background: #EC7063 !important;
    opacity: 0.6;

  }
  .status-paidcl{
    background: #ABEBC6 !important;
    font-weight: bold;
    opacity: 0.6;

  }


  .status-failedcl{
    background: rgb(24, 20, 20) !important;
    font-weight: bold;
    opacity: 0.6;

  }
  .status-duecl{
    background: #eea7be !important;

    font-weight: bold;
    opacity: 0.6;

  }
  .status-partiallyPaidcl{
    background: #33541D !important;
    font-weight: bold;
    opacity: 0.6;

  }
  .status-intransitcl{
    background: #b7bfdf !important;
    font-weight: bold;
    opacity: 0.6;

  }
  .status-intitatecl{
    background: #a262a8 !important;
    font-weight: bold;
    opacity: 0.6;

  }

  .status-disbursedcl{
    background: #FB9902 !important;
    font-weight: bold;
    opacity: 0.6;

  } 
  .status-createdcl{
    background: #0196CE !important;
    font-weight: bold;
    opacity: 0.6;

  } 
  .status-orderPlace{
    background: #02be57 !important;
    font-weight: bold;
    opacity: 0.6;

  } 

  .status-orderPlace{
    background: #F5B7B1 !important;
    font-weight: bold;
    opacity: 0.6;

  } 
  .status-invoicePost{
    background: #E8DAEF !important;
    font-weight: bold;
    opacity: 0.6;

  } 
  .status-Refund{
    background: #E8F8F5 !important;
    font-weight: bold;
    opacity: 0.6;

  } 
  .status-NBFCPostingFailed{
    background: #BFC9CA !important;
    font-weight: bold;
    opacity: 0.6;

  } 
