.data-label-yellow{
    color: #e7219b;
    
}
.Dlabel-font{
    font-size:18px ; 
}

.data-label-cyan{
    color:#50CFBC;
}
.data-label-red{
    color:#FF7781;
}
.data-label-purple{
    color:#707EEF;
}
.data-label-green{
    color:#21d85e;
}
.data-label-orange{
    color:orange;
}
.data-label-blue{
    color:#15bce6;
}


.Tfont-color{
    color:#00749F;
    padding: 5px !important;
}
hr.dotted-line{
    border-top: 2px dashed black;
}