<div class="container-fluid">

  <div class="row p-2 my-2">
    <div class="col">
      <!-- <code style="color: #2B3674;">Pages/Profile</code> -->
      <h3>(Supply Chain)</h3>
    </div>
  </div>

  <div class="card shadow p-1">
    <div class="row m-2 ">
      <div class="col-4">
        <div class="card p-2" style="background-color: rgba(167, 212, 238, 0.753) !important;">
          <label>Total Active - Rs.{{dashStats.totalActive | number: '0.2-2' }}</label>
        </div>
      </div>
      <div class="col-4">
        <div class="card p-2" style="background-color: rgba(233, 177, 182, 0.692) !important;">
          <label>Total InActive - Rs.{{dashStats.totalInActive | number: '0.2-2' }}</label>
        </div>
      </div>
      <div class="col-4">
        <div class="card p-2" style="background-color: rgba(198, 211, 173, 0.815) !important;">
          <label>Total Disbursal - Rs.{{dashStats.totalDisbursal | number: '0.2-2' }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow p-3 mt-2">
    <div class="row mt-3">
      <!-- <div class="col-3">
        <p-dropdown [options]="ProductDropdown" [(ngModel)]="searchFilters.ProductType" optionLabel="productType"
          [style]="{'width':'100%'}" placeholder="Product Type" optionValue="productId"></p-dropdown>
      </div> -->

      <div class="col-3">
        <p-dropdown [options]="companyList" [(ngModel)]="searchFilters.AnchorId" optionLabel="businessName"
          [style]="{'width':'100%'}" optionValue="id" placeholder="Anchor List"></p-dropdown>
      </div>

      <div class="col-3">
        <p-dropdown [options]="statusDropdown" [(ngModel)]="searchFilters.Status" optionLabel="label"
          [style]="{'width':'100%'}" placeholder="Status" optionValue="value"></p-dropdown>
      </div>

      <div class="col-3">
        <input class="text" class="form-control" [(ngModel)]="searchFilters.Keyword"
          placeholder="Account No/Phone Number" min="3" (keyup.enter)="getLoanAccountList(true)">
      </div>

      <div class="col-3">
        <p-dropdown [(ngModel)]="searchFilters.CityName" [options]="cityList" optionLabel="cityName" autoWidth="false"
          [style]="{'width':'100%'}" optionValue="cityName" placeholder="Select City"> </p-dropdown>
      </div>

    </div>

    <div class="row mt-3">

      <div class="col-3 mt-4">
        <!-- <p-multiSelect [options]="companyList" [(ngModel)]="selectedcompany" optionLabel="businessName"
          [style]="{'width':'100%'}" [showClear]="true" placeholder="Anchor List"></p-multiSelect> -->
        <p-calendar [(ngModel)]="selectedDates" [style]="{'width':'100%'}" selectionMode="range" [showIcon]="true" [readonlyInput]="true"
          [numberOfMonths]="2" [touchUI]="true"></p-calendar>
      </div>

      <!-- <div class="col-6">
        <div class="row">
          <div class="col-6">
            <label>Min</label>
            <input type="number" placeholder="min" class="form-control" [(ngModel)]="searchFilters.Min" name="minAmt"
              id="minAmt" (input)="calcMinMax()">
          </div>
          <div class="col-6">
            <label>Max</label>
            <input type="number" placeholder="max" class="form-control" [(ngModel)]="searchFilters.Max" name="maxAmt"
              id="maxAmt" (input)="calcMinMax()">
          </div>
        </div>
      </div> -->
      <div class="col"></div>
      <div class="col-4 mt-4" style="text-align:end;">
        <button class="btn btn-liteBlue mr-1" type="button" (click)="getLoanAccountList(true)"><i
            class="fa fa-search"></i>Search</button>&nbsp;&nbsp;
        <button class="btn btn-darkBlue mr-1" type="button"
          (click)="getLoanAccountListExport()">Export</button>&nbsp;&nbsp;
        <button class="btn btn-blue ml-2" type="button" (click)="clearFilter()">Clear</button>&nbsp;&nbsp;
      </div>

    </div>
  </div>

  <div class="mt-3 shadow text-center">
    <p-table [value]="loanaccountList" [totalRecords]="totalrecord" [paginator]="true" [(first)]="first" [rows]="10"
      [scrollable]="true" (onLazyLoad)="load($event)" [lazy]="true">

      <ng-template pTemplate="header">
        <tr>
          <th>Loan Account Number</th>
          <th>Applicant Name</th>
          <th>Anchor</th>
          <th>City</th>
          <th>Mobile No.</th>
          <!-- <th>Avail. Credit Limit</th> -->
          <!-- <th>Utilize Limit</th> -->
          <th>Available Limit</th>
          <!-- <th>Utilize %</th> -->
          <th>Available %</th>
          <th>Product Type</th>
          <th>Status</th>
          <th>Disbursal Date</th>
          <th>Agreement Renewal Date</th>
          <!-- <th>Action</th> -->


          <!-- <th>Credit Score</th>
          <th>Udhar Limit</th>
          <th>Disbursal Amount</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-loan>
        <tr (click)="navigateTo(loan)" class="pointer">
          <td>{{loan.leadCode}}</td>
          <td>{{loan.customerName}}</td>
          <td>{{loan.anchorName}}</td>
          <td>{{loan.cityName}}</td>
          <td>{{loan.mobileNo}}</td>
          <!-- <td>{{loan.availableCreditLimit | number: '0.2-2' }}</td> -->
          <td style="color: black;">{{loan.availableCreditLimit | number: '0.2-2'}}</td>
          <td>{{((loan.availableCreditLimit / loan.disbursalAmount) * 100) | number: '0.2-2'}}%</td>
          <td>{{loan.productType}}</td>
          <td>{{loan.accountStatus}}</td>
          <td>{{loan.disbursalDate | date : 'dd/MM/yyyy' }}</td>
          <td>{{loan.agreementRenewalDate | date : 'dd/MM/yyyy' }}</td>
          <!-- <td> <i class="pi pi-eye" style="cursor: pointer;" (click)="gotoTransactionPage(loan)"></i></td> -->
          <!-- <td>{{loan.accountCode}}</td>
          <td>{{loan.creditScore}}</td>
          <td>{{loan.udharLimit}}</td>
          <td>{{loan.disbursalAmount}}</td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog #cd appendTo="body" header="Confirmation" [style]="{width: '30vw'}">
  <p-footer>
    <button type="button"class="btn btn-danger"  style="margin-right: 10px;"  (click)="cd.accept()">Yes</button>
    <button type="button" class="btn btn-success" (click)="cd.reject()">No</button>&nbsp;&nbsp;
  </p-footer>
</p-confirmDialog>
<p-toast></p-toast>



<div class="overlay" *ngIf="Loader">
  <div class="loader">
      <img src="assets/img/logos/loader_new.gif" alt="Loading..." />
  </div>
</div>