.highlight{ 
    // background-color: #A3AED0 !important;    
    background: #EFFAFF;
    color: #2B3674;
    font-weight: 600 !important;
    text-decoration: none !important;    
    font-size: 30px;
    // height: 50px;
    border-radius: 12px;
    box-shadow: #1b1b1b;
    padding: 7px;
}
.ul-list{
    background: white !important;
    border-radius: 20px !important;
    color: #2B3674;
    // height: 51px;
}

tr:nth-child(even) {
    background-color:white !important;
}

.curve{
    border-radius: 20px !important;
}

.side-bar
{
    font-size: 20px !important;
}