.label-blue{
    font-size: 18px !important;
    color: rgb(0, 110, 255);
    margin-left: 22px;
}

.label-bluee{
    font-size: 18px !important;
    color: rgb(0, 110, 255);
    // margin-left: 22px;
}

.v-line{
    background-color: lightgray;
    width: 5px;
    height: 100%;
    font-size: .01em;
    border-radius: 9px;
    margin-left: 5px;
}

// .label-time{
//     position: absolute;
//     left: 70px;
//     color: darkgray;
// }

.m-dcs{
    font-size: 16px !important;
    text-decoration: bold;
    text-decoration: underline;
    color: rgb(28, 10, 190);
    cursor: pointer;
}

.m-addr{
    font-size: 16px !important;
    text-decoration: bold;
    text-decoration: underline;
    color: rgb(28, 10, 190);
    cursor: pointer;
}