<div class="container-fluid">
    <div class="row text-center mt-2">
        <div class="col-12">
            <h5>
                Welcome to Scaleup
            </h5>
        </div>
        <div class="col-12">
            <label class="label-dark" style="color: gray;">
                Empowering retailers with the power of digital financing.
            </label>
        </div>
        <div class="col">
            <img src="../../../../assets/img/DashboardImage.2a1ba76c.svg" style="display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10vh;
margin-bottom: auto; width: 50%;" alt="">
        </div>
    </div>
</div>