$imageurl    : 'assets/img';

$white: #ffffff;
$black: #000000;
$black-sec: #1E1E1E;
$black-third: #333;
$yellow: #FFD569;
$gray-sec: #858585;
$gray-light: #F4F7FE;
$gray: #ccc;
$graytext:#A3AED0;
$blue:#0196CE;
$primary:#005373;
$success:#3eba00;
$danger:#c40101;
