<div class="detailsPop row">
    <div class="col-md-6 col-12">
        <span>Special Comment <strong>{{viewMoreData.Special_Comment ? viewMoreData.Special_Comment :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Current Balance <strong>{{viewMoreData.Current_Balance ? viewMoreData.Current_Balance :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Credit Limit Amount <strong>{{viewMoreData.Credit_Limit_Amount ? viewMoreData.Credit_Limit_Amount :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Highest Credit or Original Loan Amount
            <strong>{{viewMoreData.Highest_Credit_or_Original_Loan_Amount ?
                viewMoreData.Highest_Credit_or_Original_Loan_Amount :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Terms_Duration
            <strong>{{viewMoreData.Terms_Duration ? viewMoreData.Terms_Duration : 'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Date of First Delinquency
            <strong>{{viewMoreData.Date_of_First_Delinquency ? viewMoreData.Date_of_First_Delinquency :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>SuitFiledWillfulDefaultWrittenOffStatus
            <strong>{{viewMoreData.SuitFiledWillfulDefaultWrittenOffStatus ?
                viewMoreData.SuitFiledWillfulDefaultWrittenOffStatus :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>SuitFiled WillfulDefault
            <strong>{{viewMoreData.SuitFiled_WillfulDefault ?
                viewMoreData.SuitFiled_WillfulDefault :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Written off Settled Status
            <strong>{{viewMoreData.Written_off_Settled_Status ?
                viewMoreData.Written_off_Settled_Status :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Settlement Amount
            <strong>{{viewMoreData.Settlement_Amount ?
                viewMoreData.Settlement_Amount :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Value of Collateral
            <strong>{{viewMoreData.Value_of_Collateral ?
                viewMoreData.Value_of_Collateral :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Type of Collateral
            <strong>{{viewMoreData.Type_of_Collateral ?
                viewMoreData.Type_of_Collateral :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Written off Amt Total
            <strong>{{viewMoreData.Written_off_Amt_Total ?
                viewMoreData.Written_off_Amt_Total :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Written off Amt Principal
            <strong>{{viewMoreData.Written_off_Amt_Principal ?
                viewMoreData.Written_off_Amt_Principal :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Default Status Date
            <strong>{{viewMoreData.DefaultStatusDate ?
                viewMoreData.DefaultStatusDate :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Litigation Status Date
            <strong>{{viewMoreData.LitigationStatusDate ?
                viewMoreData.LitigationStatusDate :
                'N/a'}}</strong></span>
    </div>
    <div class="col-md-6 col-12">
        <span>Write Off Status Date
            <strong>{{viewMoreData.WriteOffStatusDate ?
                viewMoreData.WriteOffStatusDate :
                'N/a'}}</strong></span>
    </div>
</div>