<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
      <div class="row">
       <div class="col-12">
        <h4 class="heading">Change Password</h4>
       </div>
      </div>
      <div class="row full-height-vh m-0">
        <div class="col-12  align-items-center justify-content-center">
          <div class="card">
            <div class="card-content">
              <div class="card-body login-img">
                <div class="row m-0">
                  <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                    <img src="../../../../assets/img/gallery/edit.jpg" alt="" class="img-fluid mt-3" width="400"
                      height="230" />
                  </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                    <!-- <form name="mobileInputForm" #mobileForm="ngForm" (ngSubmit)="onSubmit(mobileForm)"> -->
                      <form class="form" [formGroup]="PostData" (ngSubmit)="ChangePassword()">

                      <p class="card-text mb-4">
                        Edit using your old password
                      </p>
                      <div class="mb">
                        <input  type="text" class="form-control mb-2 in-2" formControlName="oldpassword"
                        [ngClass]="{ 'is-invalid': submitted && PostData.controls.oldpassword.errors }"
                          placeholder="old password" >
                          <span class="text-danger"
                          *ngIf="!submitted && PostData.controls.oldpassword.touched && PostData.controls.oldpassword.status == 'INVALID'">
                              *oldpassword is required
                          </span>
                          <div *ngIf="(submitted && PostData.controls.oldpassword.errors) " class="invalid-feedback">
                              <div >*oldpassword is required</div>
                          </div>



  <!-- name="mobInpits" -->
                        <!-- <div *ngIf="isFormSubmitted && mob.invalid">
                          <code>Enter valid username </code>
                        </div> -->
                      </div>

                      <div class="mb">
                        <input  class="form-control mb-2 in-2"
                          placeholder="New Password"
                          type="text"  formControlName="password"
                          [ngClass]="{ 'is-invalid': submitted && PostData.controls.password.errors }">
                          <span class="text-danger"
                          *ngIf="!submitted &&  PostData.controls.password.touched && PostData.controls.password.status == 'INVALID'">
                              *Newpassword is required
                          </span>
                          <div *ngIf="(!submitted && PostData.controls.password.errors) " class="invalid-feedback">
                              <div >*Newpassword is required</div>
                          </div>
                          <span  class="text-danger"  *ngIf="PostData.controls.password.hasError('passwordRequirements') && PostData.controls.password.touched">
                            Password must contain at least one capital letter, one numeral, and one special character.
                          </span>
  <!-- name="mobInpit" -->
                        <!-- <div *ngIf="isFormSubmitted && mob.invalid">
                          <code>Enter valid mobile number</code>
                        </div> -->
                      </div>
                      <div class="mb">
                        <input  class="form-control mb-2 in-2" type="text"
                          placeholder="Confirm Password" formControlName="ConfirmPassword"  (keyup)="onKeypressEvent($event)" >
                          <!-- <span class="text-danger"
                          *ngIf="PostData.controls.ConfirmPassword.touched && PostData.controls.ConfirmPassword.status == 'INVALID'">
                              *Newpassword is required
                          </span> -->
                          <!-- {{PostData.controls.ConfirmPassword.errors|json}} -->
                          <span *ngIf=" submitted" style="color: red;" >
                            {{Msg}}
                          </span>
  <!-- name="mobInpit" -->
                        <!-- <div *ngIf="isFormSubmitted && mob.invalid">
                          <code>Enter valid mobile number</code>
                        </div> -->
                      </div>



                      <div class="fg-actions d-flex justify-content-between">

                        <div class="recover-pass">
                          <!-- <button class="btn btn-primary" (click)="ChangePassword()">
                            <a class="text-decoration-none text-white">Change Password</a>
                          </button> -->
                          <button class="btn btn-blue mt-2"  type="submit">
                            <a class="text-decoration-none text-white">Change Password</a>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p-toast></p-toast>

  <div class="progress-spinner" *ngIf="Loader">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <!--Login Page Ends-->


  <!-- <div class="bck">
    <form name="mobileInputForm" #mobileForm="ngForm" (ngSubmit)="onSubmit(mobileForm)">
      <div class="lgn">
        <div class="spp">
          Enter Your
          <br>Mobile Number
        </div>
        <div class="otpp">
          We will be sending your OTP
        </div>
        <div class="mb">
          <input name="prefix" disabled class="in-1" type="text" value="IN +91">
          <input name="mobInpit" class="in-2" type="tel" pattern="^[6-9][0-9]{9}$" maxlength="10" required
            placeholder="Phone Number" [(ngModel)]="mobile" #mob="ngModel">

          <div *ngIf="isFormSubmitted && mob.invalid">
            <code>Enter valid mobile number</code>
          </div>
        </div>
        <div class="mb">
          <input name="mobInpit" class="in-2" type="tel" maxlength="50" required placeholder="Password"
            [(ngModel)]="password" #mob="ngModel">

          <div *ngIf="isFormSubmitted && mob.invalid">
            <code>Enter valid mobile number</code>
          </div>
        </div>
        <div class="btn-nxt">
          <button type="submit">
            Login
          </button>
        </div>
      </div>

    </form>
  </div> -->
